.expenseChart {
  font-style: italic;
  font-size: 28px;
  color: black;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.barWrapper {
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.barContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 767px) {
  .expenseChart {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .barWrapper {
    padding: 10px;
  }

  .barContainer {
    width: 100%;
  }
}